<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringTestApplication" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.southgis.test.TestApplication" />
    <module name="spring-test" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="com.southgis.test.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>